<!DOCTYPE html>
<html>
  <%- include("../components/head.ejs") %>

  <body>
    <%- include("../components/navBar.ejs") %>


    <div class="container">
      <h1>Restaurant Manager</h1>

      
      <% if (msg) { %>
        <div class="alert alert-primary">
          <%= msg %>
        </div>
      <% } %>


      <div class="row">
        <div class="col-8">
          <%- include("../components/searchBar.ejs", { action:'restaurants', query }) %>
            <div class="row g-3" style="margin-top: 10px;">
              <% for (let rest of restaurants) { %>

                <div class="col-4">
                  <div class="card p-1">
                    <h5 class="card-title"><%= rest.restaurant_name %></h5>
                    <div class="card-text">
                      <div><%= rest.restaurant_address %></div>
                      <div><%= rest.opening_time %></div>
                      <div><%= rest.contact %></div>
                      <div>
                        <a class="btn btn-outline-primary" href="<%= '/restaurants/' + rest.restaurant_id + '/edit' %>">Edit</a>
                        <a class="btn btn-outline-danger" href="<%= '/restaurants/' + rest.restaurant_id + '/delete' %>">Delete</a>
                      </div>
                    </div>
                  </div>
                </div>


              <% } %>

            <%- include("../components/pagination.ejs", { action:'restaurants', currentPage, pageSize, totalPages, query }) %>
            </div>
        </div>
        <div class="col-4">
          <h2>Create a Restaurant</h2>
          <form action="/createRestaurant" method="POST">
            <div>
              <label class="form-label">
                Restuarant Name:
                <input class="form-control" type="text" name="restaurant_name" required />
              </label>
            </div>

            <div>
              <label class="form-label">
                Restuarant Address:
                <input class="form-control" type="text" name="restaurant_address" required/>
              </label>
            </div>

            <div>
              <label class="form-label">
                Opening Time:
                <input class="form-control" type="text" name="opening_time" placeholder="hh:mm AM/PM" required/>
              </label>
            </div>

            <div>
              <label class="form-label">
                Contact:
                <input class="form-control" type="text" name="contact" required/>
              </label>
            </div>

            <button class="btn btn-primary" type="submit">Create</button>
          </form>
        </div>
      </div>

    </div>

    <%- include("../components/footer.ejs") %>
  </body>
</html>
